.toolBarContainer{
    background-color: aliceblue;
    /* box-shadow: 1px 1px 1px 1px #fff; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.logoImg{
    width: 5%;
    height: 70%;
    margin-left: 17px;
}
.btnContainer{
    margin-left: 23px;
    width: 28.8%;
    display: flex;
    justify-content: space-evenly;
}
.navBtn:hover{
    background-color: aquamarine;
    border-radius: 8.6px;
}
.accountBtn{
    border-radius: 17.8px;
    margin-left: 600px;
    /* margin-left: 174%; */
}
.accountBtn:hover{
    background-color: blueviolet;
    color: #fff;
}
.playstoreImg{
    width: 2.1%;
    margin-left: 37px;
    margin-top: -1.8px;
}
.applelogoImg{
    width: 1.9%;
    margin-left: 27px;
    margin-top: -8px;
}
.overallscreenTheatreListContainer{
    
    width: 60%;
    border-radius: 5px;
    padding: 14px;
    background-color: #fff;
    position: absolute;
    top: 76px;
    left: 58px;
    z-index: 156;
}
.screenTheatreHeading{
    font-family: "Catamaran",sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #5a5c5f;
    margin-left: 54px;
    margin-top: 20px;
}
.screenTheatreListContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;
    padding-bottom: 14px;
    list-style-type: none;
    /* background-color: red; */
}
.screenTheatreListItem{
    font-family: "Catamaran",sans-serif;
    font-size: 18px;
    font-weight: 600;
    width: 40%;
    margin-left: 17px;
    /* background-color: #77a8f7; */
    margin-top: 23px;
    border-radius: 4px;
    padding: 3px;
    line-height: 1.5;
}
.overallmovieListContainer{
    width: 70%;
    border-radius: 5px;
    position: absolute;
    top: 76px;
    left: 38px;
    z-index: 157;
    background-color: #fff;
    padding: 20px;
}
.movieListHeading{
    font-family: "Catamaran",sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 10px;
}
.movieListContainer{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.movieListItem{
    width: 43%;
    margin-bottom: 17px;
}
.movieListItem:hover{
    cursor: pointer;
}
.movieListItemCard{
    width: 100%; 
    box-shadow: none;
}
.movieListItemCardImg{
    width: 25%;
    height: 56px;
    border-radius: 5px;
}
.movieListItemCardHeaderMovieDetails{
    margin-left: 25px;
}
.movieListCardHeading{
    font-family: "Catamaran",sans-serif;
    font-size: 18.1px;
    font-weight: 600;
}
.movieListCardPara{
    font-family: "Catamaran",sans-serif;
    font-size: 17px;
    font-weight: 600;
}
.orderCard{
    min-width: 45%;
    max-width: 45%;
    min-height: 390px;
    max-height: 390px;
    margin-left: 25%;
    margin-top: 38px;
    margin-bottom: 28px;
}
.orderMovieImg{
    height: 260px;
}
.orderMovieName{
    font-family: "Geologica",sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.orderMovieDetails{
    margin-left: 25px;
}
.orderMovieTheatre{
    font-family: "Geologica",sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #8e9991;
}
.sofaIconImg{
    width: 16%;
    margin-left: -8px;
    /* background-color: red; */
}
.ticketSeatContainer{
    display: flex;
    padding-top: 1px;
    /* background-color: yellow; */
    height: 45px;
}
.seatsNameContainer{
    font-family: "Geologica",sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 7px;
    margin-top: 11px;
    padding-left: 3px;
    color: #665f5f;
}
.ticketPriceContainer{
    margin-left: 226px;
}
.overallTicketPriceContainer{
    font-family: "Geologica",sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #8e9991;
    margin-top: 18px;
    /* background-color: yellow; */
}
.ticketHeading{
    min-width: 46px;
    max-width: 46px;
    background-color: red;
}
.convinienceFeeContainer{
    margin-left: 194px;
}
.totalFeeContainer{
    font-family: "Geologica",sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: black;
    margin-left: 200px;
}
.orderSummaryHeading{
    font-size: 24px;
    font-family: "Geologica",sans-serif;
    font-weight: 600;
    margin-left: 24%;
    margin-top: 98px;
}