<div class="footer">
    <div class="firstRowContainer">
        <div class="ticketnewinfoContainer">Download Paytm TicketNew App</div>
        <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_108/play_ip0jfp" class="playStoreImg">
        <div class="card" id="customerCareBtn">
            <button mat-fab class="callBtn"><mat-icon>call</mat-icon></button>
            <p class="customerCarePara">Customer Care</p>
        </div>
        <div class="card">
            <button mat-fab class="callBtn"><mat-icon>forum</mat-icon></button>
            <p class="faqPara">FAQ</p>
        </div>
    </div>
    <hr>
    <div class="listlinkContainer">
            <ul class="firstListContainer">
                <li class="firstLinkPara">Browse All</li>
                <li class="secondLinkPara">Now Showing</li>
                <li class="thirdLinkPara">Coming Soon</li>
                <li class="fourthLinkPara">Movies</li>
                <li class="fifthLinkPara">Cinemas</li>
            </ul>
            <ul class="secondListContainer">
                <li class="firstLinkPara">Links</li>
                <li class="secondLinkPara">Register</li>
                <li class="thirdLinkPara">Login</li>
                <li class="fourthLinkPara">Order</li>
                <li class="fifthLinkPara">Help</li>
            </ul>
            <ul class="thirdListContainer">
                <li class="firstLinkPara">For Theatres</li>
                <li class="secondLinkPara">Partners with Us</li>
                <li class="thirdLinkPara">Apps for you</li>
                
            </ul>
            <ul class="fourthListContainer">
                <li class="firstLinkPara">Learn More</li>
                <li class="secondLinkPara">Privacy</li>
                <li class="thirdLinkPara">Security</li>
                <li class="fourthLinkPara">Terms</li>
                <li class="fifthLinkPara">Sitemap</li>
            </ul>
    </div>
    <div class="socialmediaiconContainer">
        <div class="iconContainer">
            <img src="https://assetscdn1.paytm.com/movies_new/_next/static/media/twitter-icon.b99b6f24.png" class="twitterImg">
            <img src="https://assetscdn1.paytm.com/movies_new/_next/static/media/facebook-icon.acce4d4f.png" class="facebookImg">
        </div>
        <p class="copyrightPara">Copyright &copy; 2023 Orbgen Technologies Pvt. Ltd. All rights reserved </p>
    </div>
</div>