.emailContainer{
    width: 27%;
    margin-left: 35.5%;
    margin-top: 34px;
}
.paytmTicketnewLogo{
    width: 12.2%;
    margin-left: 42.5%;
    margin-top: 56px;
}
.submitBtn{
    margin-left: 46.5%;
    margin-top: 34px;
}