.paytmTicketnewLogo{
    width: 8%;
}
.navBarContainer{
    width: 100%;
    background-color: aqua;
    padding: 16px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
}
.theatreNameHeading{
    width: 25%;
    font-family: "Geologica",sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 31%;
    margin-top: 15px;
    /* background-color: red; */
}
.iconContainer{
    display: flex;
    margin-left: 15%;
}
.iconBtn{
    margin-right: 26px;
}
.orderSummaryHeading{
    margin-left: 41%;
    margin-top: 125px;
    font-size: 28px;
    font-family: "Geologica",sans-serif;
    font-weight: 600;
}
.orderCard{
    min-width: 27%;
    max-width: 27%;
    min-height: 310px;
    max-height: 310px;
    margin-top: 19px;
    margin-left: 25px;
}
.orderIDHeading{
    font-size: 18px;
    font-family: "Geologica",sans-serif;
    font-weight: 600;
}
.orderContainer{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    padding-left: 135px;
}