<div class="bodyCoverContainer">
<div class="cityCardContainer">
    <mat-card class="cityCard" [mat-dialog-close]="this.cities[0]">
        <mat-card-header class="cityCardHeader">
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/mumbai.png"  class="cityCardImg">
        </mat-card-header>
        <mat-card-content class="cityCardContent">
            <h4 class="cityNameHeading">Mumbai</h4>
        </mat-card-content>
    </mat-card>
    <mat-card class="cityCard" [mat-dialog-close]="this.cities[1]">
        <mat-card-header class="cityCardHeader">
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/ncr.png" mat-card-lg-image class="cityCardImg">
        </mat-card-header>
        <mat-card-content class="cityCardContent">
            <h4 class="cityNameHeading">Delhi-NCR</h4>
        </mat-card-content>
    </mat-card>
    <mat-card class="cityCard" [mat-dialog-close]="this.cities[2]">
        <mat-card-header class="cityCardHeader">
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/bang.png" mat-card-lg-image class="cityCardImg">
        </mat-card-header>
        <mat-card-content class="cityCardContent">
            <h4 class="cityNameHeading">Bengaluru</h4>
        </mat-card-content>
    </mat-card>
    <mat-card class="cityCard" [mat-dialog-close]="this.cities[3]">
        <mat-card-header class="cityCardHeader">
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/hyd.png" mat-card-lg-image class="cityCardImg">
        </mat-card-header>
        <mat-card-content class="cityCardContent">
            <h4 class="cityNameHeading">Hyderabad</h4>
        </mat-card-content>
    </mat-card>
    <mat-card class="cityCard" [mat-dialog-close]="this.cities[4]">
        <mat-card-header class="cityCardHeader">
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/chen-selected.png" mat-card-lg-image class="cityCardImg">
        </mat-card-header>
        <mat-card-content class="cityCardContent">
            <h4 class="cityNameHeading">Chennai</h4>
        </mat-card-content>
    </mat-card>
    <mat-card class="cityCard" [mat-dialog-close]="this.cities[5]">
        <mat-card-header class="cityCardHeader">
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/pune.png" mat-card-lg-image class="cityCardImg">
        </mat-card-header>
        <mat-card-content class="cityCardContent">
            <h4 class="cityNameHeading">Pune</h4>
        </mat-card-content>
    </mat-card>
    <mat-card class="cityCard" [mat-dialog-close]="this.cities[6]">
        <mat-card-header class="cityCardHeader">
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/kolk.png" mat-card-lg-image class="cityCardImg">
        </mat-card-header>
        <mat-card-content class="cityCardContent">
            <h4 class="cityNameHeading">Kolkata</h4>
        </mat-card-content>
    </mat-card>
    <mat-card class="cityCard" [mat-dialog-close]="this.cities[7]">
        <mat-card-header class="cityCardHeader">
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/ahd.png" mat-card-lg-image class="cityCardImg">
        </mat-card-header>
        <mat-card-content class="cityCardContent">
            <h4 class="cityNameHeading">Ahmedabad</h4>
        </mat-card-content>
    </mat-card>
</div>
</div>